*.sql text eol=lf
*.md text eol=lf
*.dump binary
datasets/mysql/department-programmers/*.sql -text
exercises/mysql/archive/department-programmers/*.txt -text
archive/oracle/oracle-sql-hw/*.sql -text
archive/oracle/oracle-sql-hw/*.pdf binary
archive/oracle/oracle-sql-hw/*.doc binary
